.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  video {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
  }

  .vbm-image {
    max-width: 30%;
    margin-top: 30vh;
  }
}

@media screen and (max-width: 768px) {
  .hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background-image: url('../../images/vbmfullscreen.png');
    width: 100svw;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    video {
      display: none;
    }

    .vbm-image {
      max-width: 30%;
      margin-top: 30vh;
    }
  }
}