@use '../../styles/nav';

.container {
  margin: 0;
  padding: 0;
}

.nav-bar {
  @include nav.list();
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  font-family: Avenir-Roman;

  li {
    padding-right: 25px
  }

  a {
    @include nav.links();
  }

  a:hover {
    &:not(.active) {
      text-decoration: underline;
      text-decoration-color: #967029;
    }
  }

  .active {
    color: #BF9B30;
  }
}