@use '../../styles/nav';


.footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  background-color: #967029;
  width: 100vw;

  .nav-bar-bottom {
    @include nav.list();
    padding-right: 25px;
  }

  a {
    text-decoration: none;
    color: white;
    padding-left: 20px;
  }

  .copyright {
    @include nav.links();
    font-weight: bold;
    padding-left: 25px;
  }
}