// * {
//   overflow: hidden;
// }

.premium-quality {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;

  .vbm-image {
    max-width: 30%;
  }

  p {
    color: white;
    font-size: 100%;
  }

  h2 {
    font-family: DrukWideBold;
    color: white;
  }

  .logo-container {
    padding-top: 5%;
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.special {
  color: var(--vbm-color);
}

.section-img {
  max-width: 100%;
}

.img-text-container {
  margin-top: 20%;
  font-size: 130%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

@media screen and (min-width: 1025px) {
  .img-text-container {
    margin-top: 20%;
    font-size: 130%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;

    img {}
  }
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 100vw;

  .never-miss-a-drop {
    height: 100vh;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .pill {
      display: flex;
      flex-direction: row;
      justify-content: center;

      h3 {
        padding: 6px;
        width: max-content;
        border-radius: 15px;
        font-family: DrukWideBold;
        text-align: center;
        color: var(--body-background);
        background-color: var(--vbm-color);
      }
    }

    .logo-container-bottom {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

      .logo-text {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      img {
        max-width: 30%;
      }
    }

    @media screen and (min-width: 1025px) {
      .logo-container-bottom {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        .logo-text {
          display: flex;
        }  

        img {
          max-width: 30%;
        }
      }
    }
  }
}