:root{
  --vbm-color: #967029;
  --body-background: #111111;
}

a {
  text-decoration: none;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: DrukWideBold;
  src: url('../public/fonts/Druk\ Wide\ Bold.ttf');
}

@font-face {
  font-family: Avenir-Roman;
  src: url('../public/fonts/Avenir-Roman.ttf');
}

html {
  scroll-behavior: smooth;
  overflow: auto;
  scrollbar-width: 0;
}

section {
  height: 100svh;
  width: 100svw;
}

body {
  min-height: 100vh;
  background-color: var(--body-background);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


ul {
  list-style: none;
}

::-webkit-scrollbar {
  width: 0;
}