@font-face {
  font-family: DrukWideBold;
  src: url('../public/fonts/Druk\ Wide\ Bold.ttf');
}

@font-face {
  font-family: Avenir-Roman;
  src: url('../public/fonts/Avenir-Roman.ttf');
}

html {
  scroll-behavior: smooth;
  overflow: auto;
}

body {
  background-color: #111111;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img, video {
  display: block;
  max-width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #6d6d6d; 
}

.rotate {
  transition: all 1s ease-in-out;
}

.rotate:hover {
  transform: rotate(360deg);
}

